<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PresentationLayer.Properties.Settings.PressOperationsManagementConnectionString"
            connectionString="Data Source=APEX-PC\SQLEXPRESS;Initial Catalog=PressOperationsManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PresentationLayer.Properties.Settings.PressOperationsManagementConnectionString1"
            connectionString="Data Source=DELL-PC\SQLEXPRESS;Initial Catalog=PressOperationsManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
